.form-container{
    display: flex;
  flex-direction: column;
}
.form-container > * {
    width: 30%;
  }
  .submitButton{
 
    // color: black;
    // border-style: outset;
    // border-color: #0066A2;
    height: 50px;
    width: 100px;
    font: bold 15px arial,sans-serif;
    text-shadow: none;
    cursor: pointer;
  }
  
#spinner {
	-webkit-animation: frames 1s infinite linear;
	animation: frames 1s infinite linear;
	background: transparent;
	border: 1.75vw solid #FFF;
	border-radius: 100%;
	border-radius: 100%;
    border-top-color: #DF691A;
    border-bottom-color: #DF691A;
    width: 2vw;
    height: 2vw;
    opacity: 0.6;
    padding: 0;
    position: absolute;
    right: 67%;
    bottom: 47%;
    z-index: 999;
}
@keyframes frames {
  0% {
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
  }
  100% {
	-webkit-transform: rotate(359deg);
	transform: rotate(359deg);
  }
}

#pause {
	display: block;
	background:
		rgba(0, 0, 0, 0.66)
		no-repeat
		0 0;
	width: 50%;
	height: 50%;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 1000;
}
