.form-container{
    display: flex;
  flex-direction: column;
}
.form-container > * {
    width: 30%;
  }
  .submitButton{
 
    // color: black;
    // border-style: outset;
    // border-color: #0066A2;
    height: 50px;
    width: 100px;
    font: bold 15px arial,sans-serif;
    text-shadow: none;
    cursor: pointer;
  }