<form novalidate (ngSubmit)="savePriceChange()" [formGroup]="deliveryForm">
  <mat-card>
    <mat-toolbar style="background-color: #fff">
      <mat-toolbar-row>
        <span class="view-card-title">DELIVERY UPDATE</span>
        <span class="title-spacer"></span>
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="form-container">
      <!-- <mat-form-field appearance="fill">
        <mat-label>SiteName</mat-label>
        <mat-select
          formControlName="siteId"
          placeholder="siteName (required)"
        >
          <mat-option [value]="option.siteId" *ngFor="let option of sites">{{
            option.siteName
          }}</mat-option>
        </mat-select>
      </mat-form-field> -->
      <mat-form-field appearance="fill">
        <mat-label>DocterType</mat-label>
        <input
          matInput
          type="number"
          formControlName="docketNumber"
          placeholder="DocType (required)"
        />
        <mat-error *ngIf="displayMessage.docketNumber">
          {{ displayMessage.docketNumber }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Time Stamp</mat-label>
        <input
          matInput
          formControlName="deliveryDateTime"
          [matDatepicker]="picker"
          placeholder="TimeStamp (required)"
        />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>GRADE</mat-label>
        <mat-select formControlName="gradeId">
          <mat-option [value]="option.gradeId" *ngFor="let option of grade">{{
            option.gradeName
          }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Fuel Left</mat-label>
        <input
          matInput
          id="PriceId"
          type="currency"
          placeholder="Price (required)"
          formControlName="literValue"
        />
        <mat-error *ngIf="displayMessage.literValue">
          {{ displayMessage.literValue }}
        </mat-error>
      </mat-form-field>
      <!-- <mat-form-field appearance="fill">
        <mat-label>Fuel Left</mat-label>
        <input matInput />
      </mat-form-field> -->
      <mat-form-field appearance="fill">
        <mat-label>Company</mat-label>
        <input matInput
        id="PriceId"
        type="text"
        placeholder="companyName (required)"
        formControlName="companyName" />
      </mat-form-field>
      <mat-card-actions>
        <!-- <button
          style="margin-right: 10px"
          type="submit"
          class="submitButton"
          [disabled]="!deliveryForm.valid"
        >
          <span>Save</span>
        </button> -->
        <button type="submit" class="submitButton"  [disabled]="!deliveryForm.valid">Save</button>
        <!-- <button class="submitButton" (click)="reset()" type="reset" style="position: absolute;
        left: 142px;">
          <span>Reset</span>
        </button> -->
      </mat-card-actions>
    </div>
  </mat-card>
  <progress *ngIf="isLoading" class="loading">Loading...</progress>
</form>
