.priceChange {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .mat-form-field--inline {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-flow: row;
    width: 44%;
}

.mat-form-field--inline .mat-form-field {
    display: inline-block;
    width: 30%;
    vertical-align: middle;
}

.mat-form-field--inline .mat-form-field:nth-child(1) {
    margin-right: 20px;
}
.mat-form-field--inline .mat-form-field:nth-child(2) {
  margin-right: 20px;
}
.button{
  background-color: #08f;
  border: none;
  color: white;
  // padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}