
<div>
  <mat-form-field appearance="fill">
    <mat-label>Select Grade</mat-label>
    <mat-select (selectionChange)="selectedGrade($event.value)"[disabled]='isDisiable' [(ngModel)]="selectedGrades">
      <mat-option [value]="option.gradeId" *ngFor="let option of grades">{{ option.gradeName }}</mat-option>
    </mat-select>
    
  </mat-form-field>
</div>
<div>
  <div  *ngIf="isLoading"  class="d-flex align-items-center justify-content-center">
    <div id="spinner"></div>
  <!-- <loading *ngIf="isLoading">{{ isLoading }}</loading> -->
</div>
<form [formGroup]="form" (ngSubmit)="savePriceChange()"  [hidden]="showForm" >

  <mat-card class="mat-elevation-z8">


    <mat-table
      #table
      class="mat-elevation-z0"
      [dataSource]="dataSource" [trackBy]="trackRows">
       <!-- Pump Column -->
       <ng-container matColumnDef="pumpName">
        <!-- <mat-header-cell *matHeaderCellDef>Product</mat-header-cell>  -->
       <mat-cell *matCellDef="let row; let i = index"> 
         <ng-container [formGroup]="row">
           <mat-form-field>
             <mat-label>pump</mat-label>
             <input matInput  placeholder="pump"
               id="pumpName_id_{{i}}"
               name="pumpName_id_{{i}}"
               formControlName="pumpName" [readonly]="true"  />
          
           </mat-form-field>
         </ng-container>
       </mat-cell>
     </ng-container>

      <!-- Product Column -->
      <ng-container matColumnDef="literValue">
         <!-- <mat-header-cell *matHeaderCellDef>Product</mat-header-cell>  -->
        <mat-cell *matCellDef="let row; let i = index"> 
          <ng-container [formGroup]="row">
            <mat-form-field>
              <mat-label>Liters</mat-label>
              <input matInput placeholder="liters"
                id="liters_id_{{i}}"
                name="liters_id_{{i}}"
                formControlName="literValue" required  />
            </mat-form-field>
          </ng-container>
        </mat-cell>
      </ng-container>

      <!-- Unit Column -->
      <ng-container matColumnDef="dollarValue">
         <!-- <mat-header-cell *matHeaderCellDef>Unit</mat-header-cell>  -->
        <mat-cell *matCellDef="let row; let i = index"> 
          <ng-container [formGroup]="row">
            <mat-form-field>
              <mat-label>Price</mat-label>
              <input matInput placeholder="price"
                id="price_id_{{i}}"
                name="price_id_{{i}}"
                formControlName="dollarValue" required />
            </mat-form-field>
          </ng-container>
        </mat-cell>
      </ng-container>

      <!-- Header Declarations -->
      <!-- 
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      -->
       
      <!-- Row Declarations -->
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>

    <mat-card-actions>
      <!-- <button mat-raised-button color="primary"
        (click)="createRow()">
        <mat-icon>add</mat-icon>
        Add New
      </button> -->
      <button class="button"  type="submit" mat-button color="primary">submit</button>
      <!-- <button  (click)="formRest1()" type="button" mat-button color="primary">Reset</button> -->
    </mat-card-actions>

  </mat-card>
</form>