

<div>
    <h2>{{data.data["pumpName"]}}</h2>
</div>
<div class="example-container mat-elevation-z8" style="width:100%">
    <h4></h4>
    <mat-table #table [dataSource]="dataSource" multiTemplateDataRows  class="mat-elevation-z8">
      <ng-container matColumnDef="gradeName">
        <mat-header-cell *matHeaderCellDef> Grade </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.gradeName }} </mat-cell>
      </ng-container>
      <!--start of liters-->
      <ng-container matColumnDef="liters" >
        <mat-header-cell *matHeaderCellDef> Liters </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <mat-table
            #table2
            [dataSource]="dataSourceChild"
          >
            <ng-container matColumnDef="liters">
              <mat-header-cell *matHeaderCellDef>  </mat-header-cell>
              <mat-cell *matCellDef="let element2">
                <!-- {{ element2.Date | date: 'yyyy/MM/dd' }} -->
                {{ element2.liters }}
              </mat-cell>
            </ng-container>
            <mat-header-row style="
            border-bottom: none !important
        " *matHeaderRowDef="displayedColumns2"></mat-header-row>
            <mat-row class="graderow" *matRowDef="let row2; columns: displayedColumns2"></mat-row>
          </mat-table>
        </mat-cell>
      </ng-container>
      <!---End of Liters-->
      <!---Price -->
      <ng-container matColumnDef="price">
        <mat-header-cell *matHeaderCellDef> Price </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <mat-table
            #table2
            [dataSource]="dataSourceChild">
            <ng-container matColumnDef="price">
              <mat-header-cell *matHeaderCellDef>  </mat-header-cell>
              <mat-cell *matCellDef="let element2">
                <!-- {{ element2.Date | date: 'yyyy/MM/dd' }} -->
                {{ element2.price }}
              </mat-cell>
            </ng-container>
            <mat-header-row style="border-bottom: none !important" *matHeaderRowDef="displayedColumns3"></mat-header-row>
            <mat-row class="graderow" *matRowDef="let row2; columns: displayedColumns3"></mat-row>
          </mat-table>
        </mat-cell>
      </ng-container>
      <!--end of price -->
      <!--start of date -->
      <ng-container matColumnDef="date" >
        <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <mat-table
            #table2
            [dataSource]="dataSourceChild"
          >
            <ng-container matColumnDef="date">
              <mat-header-cell *matHeaderCellDef>  </mat-header-cell>
              <mat-cell *matCellDef="let element2">
                <!-- {{ element2.Date | date: 'yyyy/MM/dd' }} -->
                {{ element2.date }}
              </mat-cell>
            </ng-container>
            <mat-header-row style="
            border-bottom: none !important
        " *matHeaderRowDef="displayedColumns4"></mat-header-row>
            <mat-row class="graderow" *matRowDef="let row2; columns: displayedColumns4"></mat-row>
          </mat-table>
        </mat-cell>
      </ng-container>
     <!--end of date-->
     
      <mat-header-row style="background-color:#00b8ff" *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"
      ></mat-row>
      <!-- <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;" class="example-element-row"
    [class.example-expanded-row]="row.expanded" (click)="toggleRow(row)">
  </mat-row>
  <mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></mat-row> -->
    </mat-table>
  </div>
  <div mat-dialog-actions class="buttonStyle">
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial style="font-size: 12px;">Close</button>
  </div>