
<div>
  <!-- <span>{{ date }}</span> -->
  <!-- <loading *ngIf="isLoading">{{ isLoading }}</loading> -->
  <div  *ngIf="isLoading"  class="d-flex align-items-center justify-content-center">
    <div id="spinner"></div>
</div>
<div class="example-container mat-elevation-z8">
  <h4></h4>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="pumpName">
      <th [ngStyle]="" mat-header-cell *matHeaderCellDef [attr.rowspan]="2"></th>
      <td mat-cell *matCellDef="let element">{{ element.pumpName }}</td>
    </ng-container>

    <ng-container *ngFor="let disName of displayedColumns | slice : 1; let j = index" [matColumnDef]="disName">
      <th mat-header-cell *matHeaderCellDef>{{ resolveEnum(j) }}</th>

      <td mat-cell *matCellDef="let element">
        {{ getDisplay(element, disName) }}
      </td>
    </ng-container>
    <ng-container *ngFor="let colName of grades; let i = index" matColumnDef="{{ grades[i] }}">
      <th mat-header-cell *matHeaderCellDef style="text-align: center;" [attr.colspan]="i == 0 ? 1 : 2">
        {{ colName }}
      </th>
    </ng-container>
    <ng-container matColumnDef="disclaimer">
      <td mat-footer-cell *matFooterCellDef colspan="2" style="text-align: center;">
       Total:
      </td>
    </ng-container>
    <tr mat-header-row class="gradeClass" *matHeaderRowDef="grades"></tr>
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    <tr mat-footer-row *matFooterRowDef="['disclaimer']" class="example-second-footer-row"></tr>
  </table>
</div>